// moein parvizi : https://github.com/moeinparvizi

// fonts
@font-face {
  font-family: 'visa';
  src: url('../fonts/PaytoneOne-Regular.ttf');
}

// repetitious codes
body{
  overflow: hidden;
  height: 100vh;

  *{
    margin: 0;padding: 0;box-sizing: border-box;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
}

//  ****************variables********************
// colors
$bg1 : #006FBE;
$bg2 : #004476;
$big :#1DB0FE;
$small : #E8D498;
$w : #fff;
$b: #000;
